altgraph
anyio
Brotli
brotlicffi
certifi
cffi
charset-normalizer
contourpy
cycler
exceptiongroup
filelock
fonttools
gmpy2
h11
httpcore
httpx
idna
imageio
importlib_resources
Jinja2
joblib
kiwisolver
lazy_loader
lxml
MarkupSafe
matplotlib==3.10.0
monai
mpmath
networkx
nibabel
nilearn
numpy
packaging
pandas
pillow
pycparser
pyinstaller
pyinstaller-hooks-contrib
pyparsing
PyQt6==6.7.1
PyQt6_sip
PySocks
python-dateutil
pytz
PyYAML
requests
scikit-image
scikit-learn
scipy
SimpleITK==2.1.1.1
sip
six
sniffio
sympy
threadpoolctl
tifffile
tomli
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado
typing_extensions
tzdata
unicodedata2
urllib3
zipp